@use './colors';
@use './mixins';
@use './variables';


.header {
    background-color: colors.$bandsite-black;
    display: flex;
    flex-direction: column;
    // position: fixed;
    // width: 100%;
    // z-index: 3;

    @include mixins.tablet {
        padding: 0 2.25rem;
        flex-direction: row;
        justify-content: flex-start;
    }

    @include mixins.desktop {
        padding: 0 8rem;
    }

    &__wordmark {
        margin: 0;
    }

    &__logo {
        width: 7.5rem;
        height: 1.25rem;
        display: flex;
        margin: 1rem auto;
        transition: transform 0.3s;

        @include mixins.tablet {
            margin: 1.5rem 4rem 1.5rem 0;
        }

        @include mixins.desktop {
            margin-top: 2rem;
        }

        &:hover {
            transform: variables.$scale;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;

        @include mixins.tablet {
            height: 100%;
        }
    }

    &__link {
        text-decoration: none;
        color: colors.$mercury;

        &--active {
            color: colors.$white;
        }
        
        &:hover {
            color: colors.$white;
        }
    }

    &__item {
        list-style-type: none;
        text-align: center;
        width: 50%;
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
        position: relative;
        

        @include mixins.tablet {
            padding-top: 1.75rem;
            margin-right: 4rem;
            font-size: 0.9rem;
        }

        @include mixins.desktop {
            padding-top: 2.25rem;
            padding-bottom: 2rem;
            margin-right: 2rem;
        }

        &--active {
            font-weight: 600;
            border-bottom: variables.$underline;
        }

        &--inactive {
            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 3px;
                display: block;
                transition: all 0.3s ease;
                bottom: 0;
            }
    
            &:hover::after {
                width: 100%;
                height: 3px;
                background-color: colors.$white;
            }
        }
    }
}
