@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
* ::before,
* ::after {
  box-sizing: border-box;
}

.body {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.header__logo {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.header__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.header__item--active {
  font-weight: 700;
  border-bottom: 4px solid #FFFFFF;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 35vh;
  margin: 0;
  position: relative;
}
.hero__text {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 0 1rem;
  position: relative;
  z-index: 2;
}
.hero__overlay {
  background-color: #323232;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.main {
  margin: 0 1rem;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.about__quote {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.about__quote--text {
  margin-bottom: 0.5rem;
}
.about__quote--source {
  margin-top: 0;
}

.article__heading {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}
.article__text {
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin: 1rem 0;
}
.article__text--bottom {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
}
.gallery__heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.gallery__image {
  margin-bottom: 1rem;
}
.gallery__image--bottom {
  margin-bottom: 0;
}/*# sourceMappingURL=bio.css.map */