@use './partials/colors';
@use './partials/fonts';
@use './partials/mixins';


*,
* ::before,
* ::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.header {
    background-color: colors.$bandsite-black;
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
        flex-direction: row;
    }

    @include mixins.desktop {
        padding: 0 5rem;
    }

    &__wordmark {
        margin: 0;
    }

    &__logo {
        text-decoration: none;
        color: colors.$white;
        @include mixins.logo;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        margin-top: 1rem;

        @include mixins.tablet {
            font-size: 1.5rem;
            margin: 1.5rem 4rem 1rem 2.25rem;
        }

        @include mixins.desktop {
            margin-top: 2rem;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;

        @include mixins.tablet {
            height: 100%;
        }
    }

    &__link {
        text-decoration: none;
        color: colors.$mercury;

        &--active {
            color: colors.$white;
        }
        
        &:hover {
            color: colors.$white;
        }
    }

    &__item {
        list-style-type: none;
        text-align: center;
        width: 50%;
        padding-bottom: 0.5rem;
        font-size: 1rem;

        @include mixins.tablet {
            padding-top: 1.75rem;
            margin-right: 4rem;
            font-size: 0.9rem;
        }

        @include mixins.desktop {
            padding-top: 2.25rem;
            padding-bottom: 2rem;
            margin-right: 2rem;
        }

        &--active {
            font-weight: 600;
            border-bottom: 3.5px solid colors.$white;
        }
        
        &:hover {
            border-bottom: 3.5px solid colors.$white;
        }
    }
}

.hero {
    display: flex;
    align-items: center;
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    height: 35vh;
    margin: 0;
    position: relative;

    @include mixins.tablet {
        height: 75vh;
    }

    @include mixins.desktop {
        height: 100vh;
    }

    &__text {
        color: colors.$white;
        @include mixins.mobile-heading;
        padding: 0 1rem;
        position: relative;
        z-index: 2;

        @include mixins.tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-weight: 600;
            padding: 0 2.25rem;
        }

        @include mixins.desktop {
            margin-left: 5rem;
        }
    }

    &__overlay {
        background-color: colors.$bandsite-black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 3.5rem;
    }

    @include mixins.desktop {
        margin: 0 8rem;
    }

    &__heading {
        @include mixins.mobile-heading;
        @include mixins.mobile-margin;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            @include mixins.tablet-margin;
        }
    }

    &__image {
        @include mixins.tablet {
            padding: 0 3.5rem;
        }

        @include mixins.desktop {
            padding: 0 5.5rem;
        }
    }

    &__quote {
        font-size: 1rem;
        line-height: 1.5rem;

        @include mixins.tablet {
            padding: 0 3.5rem;
            margin-top: 2.25rem;
        }

        @include mixins.desktop {
            padding: 0 5.5rem;
        }

        &--text {
            font-weight: 700;
            margin-bottom: 0.5rem;

            @include mixins.tablet {
                font-weight: 600;
                font-size: 1.35rem;
                line-height: 2rem;
            }

            @include mixins.desktop {
                width: 80%;
            }
        }

        &--source {
            font-weight: 700;
            margin-top: 0;

            @include mixins.tablet {
                font-weight: 600;
            }
        }
    }
}

.article {
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 3.5rem;
        padding: 0 3.5rem;
    }

    @include mixins.desktop {
        margin: 0 8rem;
        padding: 0 5.5rem;
    }

    &__heading {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;

        @include mixins.tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 2.25rem;
        }
    }

    &__texts {
        font-weight: 500;

        @include mixins.tablet {
            display: flex;
        }
    }

    &__text {
        font-size: 0.9rem;
        line-height: 1.25rem;
        margin: 1rem 0;

        &--left {
            @include mixins.tablet {
                padding-right: 1.125rem;
                margin: 0 0 2.25rem 0;
            }
        }

        &--right {
            @include mixins.tablet {
                padding-left: 1.125rem;
                margin: 0 0 2.25rem 0;
            }
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    background-color: colors.$alabaster;
    padding: 0 1rem;

    @include mixins.tablet {
        padding: 0 2.25rem;
    }

    @include mixins.desktop {
        padding: 0 8rem;
    }

    &__heading {
        @include mixins.mobile-heading;
        @include mixins.mobile-margin;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            @include mixins.tablet-margin;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-evenly;
        }
    }

    &__image {
        margin-bottom: 1rem;

        @include mixins.tablet {
            max-width: 31%;
            margin-bottom: 3vw;
        }

        @include mixins.desktop {
            max-width: 31.75%;
            margin-bottom: 1.7vw;
        }
    }
}

.footer {
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: colors.$bandsite-black;
    color: colors.$white;
    font-size: 0.8rem;
    line-height: 1.25rem;

    @include mixins.tablet {
        font-size: 0.9rem;
        margin-top: 1.125rem;
        padding: 1.5rem 2.25rem 2.25rem 2.25rem;
        position: relative;
    }

    @include mixins.desktop {
        padding: 1.5rem 8rem 2.25rem 8rem;
    }

    &__header {
        @include mixins.tablet {
            display: flex;
            align-items: center;
        }
    }

    &__heading {
        @include mixins.mobile-heading;
        margin-top: 0;
        margin-bottom: 1rem;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            margin-top: 1.5rem;
            margin-right: 2.5rem;
        }

        @include mixins.desktop {
            margin-right: 3.5rem;
        }
    
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.2rem;

        @include mixins.tablet {
            margin-bottom: -0.6rem;
            margin-right: 1.8rem;
        }
    }

    &__body {
        @include mixins.tablet {
            display: flex;
            justify-content: space-between;
        }

        @include mixins.desktop {
            justify-content: flex-start;
        }
    }

    &__section {
        margin-bottom: 2rem;

        @include mixins.desktop {
            margin-right: 4rem;
        }
    }

    &__section-heading {
        font-weight: 600;
    }

    &__logo {
        @include mixins.logo;
        margin: 4rem 0 1rem 0;

        @include mixins.tablet {
            font-size: 1.5rem;
            margin-top: 1rem;
            position: absolute;
            top: 3rem;
            right: 2.25rem;
        }

        @include mixins.desktop {
            right: 8rem;
        }
    }

    &__rights {
        margin-bottom: 0;
    }
}
