@use './partials/colors';
@use './partials/fonts';


*,
* ::before,
* ::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.header {
    background-color: colors.$bandsite-black;
    color: colors.$white;
    display: flex;
    flex-direction: column;

    &__logo {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 50%;
        padding-bottom: 0.5rem;


        &--active {
            font-weight: 700;
            border-bottom: 4px solid colors.$white;
        }
    }
}

.hero-text {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
}
