@use './partials/colors';
@use './partials/mixins';
@use './partials/global';
@use './partials/header';
@use './partials/footer';


.hero {
    display: flex;
    align-items: center;
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    height: 35vh;
    margin: 0;
    position: relative;

    @include mixins.tablet {
        height: 75vh;
    }

    @include mixins.desktop {
        height: 100vh;
    }

    &__text {
        color: colors.$white;
        @include mixins.mobile-heading;
        padding: 0 1rem;
        position: relative;
        z-index: 2;

        @include mixins.tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            font-weight: 600;
            padding: 0 3rem;
        }

        @include mixins.desktop {
            margin-left: 5rem;
        }
    }

    &__overlay {
        background-color: colors.$bandsite-black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 3rem;
    }

    @include mixins.desktop {
        margin: 0 8rem;
    }

    &__heading {
        @include mixins.mobile-heading;
        @include mixins.mobile-margin;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            @include mixins.tablet-margin;
        }

        @include mixins.desktop {
            @include mixins.desktop-margin;
        }
    }

    &__image {
        @include mixins.tablet {
            padding: 0 3rem;
        }

        @include mixins.desktop {
            padding: 0 5.5rem;
        }
    }

    &__quote {
        font-size: 0.9rem;
        line-height: 1.5rem;

        @include mixins.tablet {
            font-size: 1rem;
            padding: 0 3rem;
            margin-top: 2.25rem;
        }

        @include mixins.desktop {
            padding: 0 5.5rem;
        }

        &--text {
            font-weight: 600;
            margin-bottom: 0.5rem;

            @include mixins.tablet {
                font-size: 1.35rem;
                line-height: 2rem;
            }

            @include mixins.desktop {
                width: 80%;
            }
        }

        &--source {
            font-weight: 600;
            margin-top: 0;
        }
    }
}

.article {
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 3rem;
        padding: 0 3rem;
    }

    @include mixins.desktop {
        margin: 0 8rem;
        padding: 0 5.5rem;
    }

    &__heading {
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 0.5rem 0;

        @include mixins.tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 2.25rem;
        }

        @include mixins.desktop {
            margin-bottom: 1.5rem;
        }
    }

    &__texts {
        @include mixins.tablet {
            display: flex;
        }
    }

    &__text {
        font-size: 0.8rem;
        line-height: 1.25rem;
        margin: 1rem 0;

        &--left {
            @include mixins.tablet {
                padding-right: 1.125rem;
                margin: 0 0 2.25rem 0;
            }
        }

        &--right {
            @include mixins.tablet {
                padding-left: 1.125rem;
                margin: 0 0 2.25rem 0;
            }
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    background-color: colors.$alabaster;
    padding: 0 1rem;

    @include mixins.tablet {
        padding: 0 2.25rem;
    }

    @include mixins.desktop {
        padding: 0 8rem;
    }

    &__heading {
        @include mixins.mobile-heading;
        @include mixins.mobile-margin;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            @include mixins.tablet-margin;
        }

        @include mixins.desktop {
            @include mixins.desktop-margin;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-evenly;
        }
    }

    &__image {
        margin-bottom: 1rem;
        filter: opacity(30%);

        &:hover {
            filter: none;
        }

        @include mixins.tablet {
            max-width: 31%;
            margin-bottom: 3vw;
        }

        @include mixins.desktop {
            max-width: 31.75%;
            margin-bottom: 1.7vw;
        }
    }
}
